*.o
*Makefile
*Makefile.in
src/.deps
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
/apertium-selector.pc
apertium-selector
apertium-compile-selector
